.Chatboxer .chatentry {
	width :1100px;
	height: 180px;
	padding: 15px;
	font-size:40px;
	top:67.5%;
	left:20%;
	position: absolute;
	font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif;
    border: 3px solid #ccc;padding:3px;
}

.Chatboxer .chater {
	border: 3px solid #ccc;
	background-color: #d2691e;
    width :1065px;
	height: 370px;
	padding: 15px;
	font-size:40px;
	top:17%;
	left : 20%;
	position: absolute;
	font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif;
    overflow-y:scroll;
    	background-image:  url('http://localhost/PDBMS/IMAGES/tryna.jpg');
	background-repeat:repeat-x;
	background-position:-333px -133px;
	background-color: #d2691e;

}




.groupboxer .groupentry {
	width :1100px;
	height: 180px;
	padding: 15px;
	font-size:40px;
	top:65.5%;
	left:20%;
	position: absolute;
	font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif;
    border: 3px solid #ccc;padding:3px;
}

.groupbg {
	background-image:  url('http://localhost/PDBMS/IMAGES/tryna.jpg');
	background-repeat:repeat-x;
	background-position:0px 0px;
	
}
.groupboxer .grouper {
    border: 3px solid #ccc;
    position: absolute;
    width :1065px;
	height: 370px;
	padding: 15px;
	font-size:40px;
	top:17%;
	left : 20%;
	font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif;
    overflow-y:scroll;
    background-image:  url('http://localhost/PDBMS/IMAGES/tryna.jpg');
	background-repeat:repeat-x;
	background-position:-333px -133px;
}


